<a href="https://colab.research.google.com/github/Sbusiso-Phakathi/30seconds/blob/master/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('financial_inclusion.csv')

# Display basic information
print(df.info())  # Column names, data types, non-null counts
print(df.describe())  # Summary statistics for numerical columns
print(df.head())  # First few rows of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   bank_account            23524 non-null  object
 4   location_type           23524 non-null  object
 5   cellphone_access        23524 non-null  object
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  object
 9   relationship_with_head  23524 non-null  object
 10  marital_status          23524 non-null  object
 11  education_level         23524 non-null  object
 12  job_type                23524 non-null  object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB
None
               year  household_size  age_of_respondent
count  23524.000000    23524.000000       23524.000000
mean    2016.975939        3.797483          38.805220
std        0.847371        2.227613          16.520569
min     2016.000000        1.000000          16.000000
25%     2016.000000        2.000000          26.000000
50%     2017.000000        3.000000          35.000000
75%     2018.000000        5.000000          49.000000
max     2018.000000       21.000000         100.000000
  country  year    uniqueid bank_account location_type cellphone_access  \
0   Kenya  2018  uniqueid_1          Yes         Rural              Yes
1   Kenya  2018  uniqueid_2           No         Rural               No
2   Kenya  2018  uniqueid_3          Yes         Urban              Yes
3   Kenya  2018  uniqueid_4           No         Rural              Yes
4   Kenya  2018  uniqueid_5           No         Urban               No

   household_size  age_of_respondent gender_of_respondent  \
0               3                 24               Female
1               5                 70               Female
2               5                 26                 Male
3               5                 34               Female
4               8                 26                 Male

  relationship_with_head           marital_status  \
0                 Spouse  Married/Living together
1      Head of Household                  Widowed
2         Other relative     Single/Never Married
3      Head of Household  Married/Living together
4                  Child     Single/Never Married

                   education_level                   job_type
0              Secondary education              Self employed
1              No formal education       Government Dependent
2  Vocational/Specialised training              Self employed
3                Primary education  Formally employed Private
4                Primary education        Informally employed

In [ ]:
df.isnull().sum()

country                   0
year                      0
uniqueid                  0
bank_account              0
location_type             0
cellphone_access          0
household_size            0
age_of_respondent         0
gender_of_respondent      0
relationship_with_head    0
marital_status            0
education_level           0
job_type                  0
dtype: int64

##If missing values are minimal and not critical, drop them:

In [ ]:
df.dropna(inplace=True)

##For **categorical** columns with missing values, impute with the mode:

In [ ]:
df['marital_status'].fillna(df['marital_status'].mode()[0], inplace=True)
df['education_level'].fillna(df['education_level'].mode()[0], inplace=True)

/tmp/ipython-input-6-2755514457.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['marital_status'].fillna(df['marital_status'].mode()[0], inplace=True)
/tmp/ipython-input-6-2755514457.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['education_level'].fillna(df['education_level'].mode()[0], inplace=True)

##For numerical columns, impute with the mean or median:

In [ ]:
df['household_size'].fillna(df['household_size'].median(), inplace=True)
df['age_of_respondent'].fillna(df['age_of_respondent'].mean(), inplace=True)

##Check for duplicate rows and remove them:

In [ ]:
df.drop_duplicates(inplace=True)
df.drop_duplicates(inplace=True)

##Cap outliers at reasonable thresholds

In [1]:
household_size_upper_limit = df['household_size'].quantile(0.95)
age_upper_limit = df['age_of_respondent'].quantile(0.95)

df['household_size'] = df['household_size'].clip(upper=household_size_upper_limit)
df['age_of_respondent'] = df['age_of_respondent'].clip(upper=age_upper_limit)
ewfwef

NameError: name 'df' is not defined